body {
    font-family: Arial;
    margin: 0;
    background-color:lavender;
}

header {
    background-color: #ad9e00;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background: rgb(255, 255, 255);
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
}

footer {
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.34);
    text-align: center;
    padding: 10px;
}